body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

#header-container {
    width: 100%;
    
}


.logo {
   margin: auto;
   text-align: center;
   padding: 10px;
  
}

.logo img {
    width: 210px;
    height: 120px;
}

#instructions {
    float: right;
    font-size: 70px;
    background-color: #76c273;
    color: white;
}



#game-container {
    border: solid 2px black;
    width: 80%;
    height: 500px;
    margin: auto;
}

.image-container {
    width: 50%;
    margin: auto;
    padding: 30px;
    
}

.image-container img {
    width: 130px;
    height: 160px;
    margin: auto;
    display: block;
    text-align: center;
}

#button-container {
    padding: 5%;
}

#alphabet-container {
    padding-right: 5%; 
    padding-left: 5%;
    text-align: center;
}

.alphabet {
    padding: 10px;
    font-size: 50px;
    margin: 5px;
    width: 8%;
}

