body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

#header-container {
    width: 100%;
    height: 120px;
    

    
}


#logo {
    text-align: center;
   
    
  
}

#logo img {
    width: 200px;
    height: 110px;

}

#instructions {
    
    font-size: 60px;
    background-color: #76c273;
    color: white;
    width: 5%;
    float: right;
    border-radius: 8px;
    
}



#sound {
    background-color: #76c273;
    color: white;
    width: 7%;
    font-size: 50px;
    margin: 2%;
    display: inline-block;
    border-radius: 8px;

}



#game-container {
    border: solid 2px black;
    width: 80%;
    height: 550px;
    margin: auto;
    background-color: whitesmoke;
}

#score {
    font-size: 40px;
    border-radius: 8px;
    background-color: #76c273;
    color: #ffff;
    float: right;
    margin: 2%;
    width: 5%;
    text-align: center;


}

.image-container {
    
    margin: auto;
    
    
}

.image-container img {
    
    height: 180px;
    margin: auto;
    display: block;
    text-align: center;
}

#button-container {
    padding: 5%;
    
}

#alphabet-container {
    padding-right: 5%; 
    padding-left: 5%;
    text-align: center;
}

.alphabet {
    padding: 10px;
    font-size: 45px;
    font-weight: 500;
    margin: 5px;
    width: 8%;
    border-width: 2.5px;
    border-radius: 8px;
}

#a-btn {
    background-color: #ffff;
    border-color: #5bc458;
    color: #5bc458;

}

#b-btn {
    background-color: #ffff;
    border-color: #e62526;
    color: #e62526;

}

#c-btn {
    background-color: #ffff;
    border-color: #f7931d;
    color: #f7931d;;

}

#d-btn {
    background-color: #ffff;
    border-color: #2c328d;
    color: #2c328d;

}

#e-btn {
    background-color: #ffff;
    border-color: #9e9a98;
    color: #9e9a98;



}

#f-btn {
    background-color: #fffa71;
    border-color: #f1e911;

}

#g-btn {
    background-color: #ffbbe7;
    border-color: #d681b5;

}

#h-btn {
    background-color: #a6d38b;
    border-color: #76c273;

}

#i-btn {
    background-color: #80e1ff;
    border-color: #00adef;

}

#j-btn {
    background-color: #decee5;
    border-color: #65448b;

}

#k-btn {
    background-color: #ff5f67;
    border-color: #e62526;

}



