body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

#header-container {
    width: 100%;
    height: 120px;
    

    
}


#logo {
    text-align: center;
   
    
  
}

#logo img {
    width: 200px;
    height: 110px;

}

#instructions {
    
    font-size: 60px;
    background-color: #76c273;
    color: white;
    width: 5%;
    float: right;
    border-radius: 8px;
    
}







#game-container {
    
    width: 80%;
    height: 700px;
    margin: auto;
    background-color: whitesmoke;
}



#sound {
    background-color: #76c273;
    color: white;
    width: 7%;
    font-size: 50px;
    margin: 2%;
    display: inline-block;
    border-radius: 8px;

}

#score {
    font-size: 50px;
    border-radius: 8px;
    background-color: #76c273;
    color: #ffff;
    float: right;
    margin: 2%;
    width: 5%;
    text-align: center;


}

.image-container {
    
    margin: auto;
    height: 250px;
    width: 400px;
    background-color: white;
    
    
}

.image-container img {
    
    height: 220px;
    margin: auto;
    display: block;
    text-align: center;
    padding-top: 20px;
}

#button-container {
    padding: 5%;
    
}

#alphabet-container {
    
    padding: 5%;
    text-align: center;
}

.alphabet {
    padding: 10px;
    font-size: 45px;
    font-weight: 500;
    margin: 5px;
    width: 8%;
    border-width: 2.5px;
    border-radius: 8px;
}

#a-btn {
    background-color: #ffff;
    border-color: #5bc458;
    color: #5bc458;

}

#b-btn {
    background-color: #ffff;
    border-color: #e62526;
    color: #e62526;

}

#c-btn {
    background-color: #ffff;
    border-color: #f7931d;
    color: #f7931d;;

}

#d-btn {
    background-color: #ffff;
    border-color: #2c328d;
    color: #2c328d;

}

#e-btn {
    background-color: #ffff;
    border-color: #9e9a98;
    color: #9e9a98;



}

#f-btn {
    
    background-color: white;
    border-color: #ff000d;
    color: #ff000d;

}

#g-btn {
    
    border-color: #d681b5;
    color: #d681b5;
    background-color: white;

}

#h-btn {
    background-color: white;
    border-color: #76c273;
    color: #76c273;
    

}

#i-btn {
    background-color: white;
    color: #00adef;
    border-color: #00adef;

}

#j-btn {
    background-color: white;
    border-color: #65448b;
    color: #65448b;

}

#k-btn {
    background-color: white;
    border-color: #ff000d;
    color: #ff000d;

}
#l-btn {
    background-color: white;
    border-color: #399106;
    color: #399106;


}

#m-btn {
    background-color: white;
    border-color: #bd841c;
    color: #bd841c;;


}






